{% extends '::base.html.twig' %}

{% block main -%}
    <h1>Zadanie</h1>
    <table class="record_properties table-striped">
        <thead>
            <th>Id</th>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.started|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.resolvedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>
    {% if entity.comments.count  %}
    <h4>Komentarze:</h4>
    {% else %}
    <h4>Brak komentarzy</h4>
    {% endif %}
    {% for comment in entity.comments %}
        {{ comment.text }}
        <div class="text-center">
            napisany: {{ comment.createdat|date('Y-m-d H:i:s') }}
            przez: <a href="{{ path('fos_user_profile_show', {'id': comment.user.id }) }}"> {{ comment.user.username }}</a>
        </div>
        <hr>
    {% endfor %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('comment_new', {'issue_id': entity.id }) }}">Nowy komentarz</a>
        </li>
        <li>
            <a href="{{ path('project_show', {'id': entity.project.getId() }) }}">
                Powrót do projektu
            </a>
        </li>
        <li>
            <a href="{{ path('issue_edit', { 'id': entity.id }) }}">Edit</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
