{% extends '@ProjectPlanner/layout.html.twig' %}

{% block main -%}
    <h1>User list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa użytkownika</th>
                <th>Opis</th>
                <th>E-mail</th>
                <th>Działania</th>
            </tr>
        </thead>
        <tbody >
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.email }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': entity.id }) }}">Pokaż</a>
                            <a href="{{ path('user_edit', { 'id': entity.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fos_user_registration_register') }}">
                Dodaj nowego użytkownika
            </a>
        </li>
    </ul>
    {% endblock %}
