{% extends '::base.html.twig' %}

{% block main -%}
    <h1>Użytkownik</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>E-mail</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('user') }}">
                Lista użytkowników
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                Edycja
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
