{% extends '@ProjectPlanner/layout.html.twig' %}

{% block main -%}
    <h1>Projekt</h1>
    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Members</th>
                <td>{{ entity.countAssignedUsers }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ entity.deadline|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Commentsid</th>
                <td>{{ entity.commentsId }}</td>
            </tr>
            <tr>
                <th>Zadania:</th>
                <td><a href="{{ path('issue_new', { 'project_id': entity.id }) }}">Dodaj nowe zadanie</a>
                   {% if entity.issues.count  %}
                       {% for issue in entity.issues %}
                           <tr><td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.name }}</a></td></tr>
                       {% endfor %}
                   {% else %}
                       <div class="alert alert-warning">
                           Brak zadań rozpoczętych w tym projekcie
                       </div>
                   {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
        {% if assigned_users is not empty %}
        <h4>Użytkownicy w projekcie</h4>
            {% for assigned_user in assigned_users %}
                <ul>
                    <li class="h4">{{ assigned_user.username }}
                        <a  href="{{ path('project_delete_user', {'user_id': assigned_user.id, 'project_id': entity.id }) }}" title="Usuń z projektu"><i class="fa fa-times"></i></a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                Żaden użytkownik nie pracuje nad tym projektem
            </div>
        {% endif %}

    <h4>Dodaj użytkownika do Projektu</h4>
        {% for user in users %}
            <ul>
                {% if not entity.isUserAssigned(user) %}
                    <li>
                        <div >{{ user.username }}
                        <a  href="{{ path('project_assign_user', {'user_id': user.id, 'project_id': entity.id }) }}"><i class="fa fa-plus"></i></a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
        <ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Powrót do listy projektów
        </a>
    </li>
    <li>
        <a href="{{ path('project_edit', { 'id': entity.id }) }}">
            Edytuj ten projekt
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
